@page
@model PS4_7_ClaimsIdentity.Results.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FizzBuzz</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FizzBuzz.NumberStr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FizzBuzz.NumberStr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FizzBuzz.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FizzBuzz.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FizzBuzz.Wynik)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FizzBuzz.Wynik)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FizzBuzz.Czas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FizzBuzz.Czas)
        </dd>
    </dl>
</div>
<div>
    <p>
        @if (Model.FizzBuzz.IdOwn == User.Identity.Name)
        {
            <a asp-page="./Edit" asp-route-id="@Model.FizzBuzz.Id">Edit</a> <text>|</text>
        }
        <a asp-page="./Index">Back to List</a>
    </p>
</div>
